<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <!--
            Case 1:
              <tr th:each="books : ${books}"> (if the name is not same like this it doesn't work)
              <td th:text="${book.id}">123</td> (It should be ${books.id} not ${book.id})
            Case 2:
              <tr th:each="book : ${books}"> (The name should be same for ${books}, what you have written in controller
                                              model.addAttribute("books",bookRepository.findAll());)
        -->
        <td th:text="${book.title}"></td>
        <td th:text="${book.publisher.name}"></td>
    </tr>
</table>

</body>
</html>